
.green{background-color: #308462;width: 100%;padding-top: 2px;padding-bottom: 2px;float: left;}
.custom_font{color: white;font-size: 14px;margin-bottom: 2px !important;margin-left: 6px;}
.custom_head{margin:0px !important;color: white;font-size: 17px;line-height: 10px;padding-left: 6px;}
.monfont{font-size: 12px;}
.yellow{background-color: #faf0ca;width: 63%;float: left;margin-top:5px;}
.redhead{text-align: center;font-size: 37px;color: #d22c30; margin-top: 0px;margin-bottom: 0px;width: 153px;font-weight: bold;
margin-left: 15px;}
.red_stu{margin-left: 52px;margin-top: 0px;}
.White{width:35%; float: right;background-color: #faf3fe;height:auto;margin-top:5px;}
.green_font{margin: 0px;color: #69ac6c;font-weight: bold;text-align:right;margin-right: 10px;font-weight:bold;}
.greenhouse{margin-left: 23px;margin-bottom: 2px;}
